www/*
!www/index.php
!www/redis.php
!www/seaslog.php

logs/nginx/*
!logs/nginx/.gitkeep
logs/php/*
!logs/php/.gitkeep
!logs/php/seaslog
logs/php/seaslog/*
!logs/php/seaslog/.gitkeep
!logs/php/slow
logs/php/slow/*
!logs/php/slow/.gitkeep

rabbitmq/*
!rabbitmq/.gitkeep
!rabbitmq/data
rabbitmq/data/*
!rabbitmq/data/.gitkeep